<div class="solicitar-turno-container">
    <h2>Solicitar Turno</h2>
    <form [formGroup]="turnoForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="especialidad">Especialidad</label>
        <select id="especialidad" formControlName="especialidad">
          <option value="">Seleccione especialidad</option>
          <option *ngFor="let esp of especialidades" [value]="esp">{{ esp }}</option>
        </select>
      </div>
  
      <div class="form-group">
        <label for="especialista">Especialista</label>
        <select id="especialista" formControlName="especialista">
          <option value="">Seleccione especialista</option>
          <!-- Se muestran solo los especialistas que coincidan con la especialidad seleccionada -->
          
          
          
          <!-- <option *ngFor="let esp of especialistas" 
            [value]="esp.nombre" *ngIf="esp.especialidad === turnoForm.get('especialidad')?.value">
            {{ esp.nombre }}
          </option> -->

          <ng-container *ngFor="let esp of especialistas">
            <option *ngIf="esp.especialidad === turnoForm.get('especialidad')?.value" [value]="esp.nombre">
              {{ esp.nombre }}
            </option>
          </ng-container>
          


        </select>
      </div>
  
      <div class="form-group">
        <label for="fecha">Fecha del Turno</label>
        <select id="fecha" formControlName="fecha">
          <option value="">Seleccione fecha</option>
          <option *ngFor="let date of availableDates" [value]="date">{{ date }}</option>
        </select>
      </div>
  
      <div class="form-group">
        <label for="horario">Horario</label>
        <input id="horario" type="text" formControlName="horario" placeholder="Ej: 09:00 AM - 10:00 AM" />
      </div>
  
      <!-- Campo para Administrador: seleccionar el paciente -->
      <div class="form-group" *ngIf="isAdmin">
        <label for="paciente">Paciente</label>
        <input id="paciente" type="text" formControlName="paciente" placeholder="Ingrese el nombre del paciente" />
      </div>
  
      <button type="submit" [disabled]="turnoForm.invalid">Solicitar Turno</button>
    </form>
  </div>
  