
.mis-turnos-container {
  max-width: 900px;
  margin: 2rem auto;
  padding: 1rem;
}

.mis-turnos-container mat-card-title {
  text-align: center;
  margin-bottom: 1rem;
}

.mis-turnos-container .filter-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.mis-turnos-container mat-form-field {
  width: 60%;
}

.mis-turnos-container table {
  width: 100%;
  border-collapse: collapse;
}

.mis-turnos-container th,
.mis-turnos-container td {
  border: 1px solid #ccc;
  padding: 0.5rem;
  text-align: center;
}

.mis-turnos-container th {
  background-color: #f2f2f2;
}

.mis-turnos-container button {
  margin: 0 0.2rem;
}

.mis-turnos-container .no-data {
  text-align: center;
  margin-top: 1rem;
  color: #666;
}



/*
.mis-turnos-container {
  width: 80%;
  margin: 1rem auto;
  padding: 1rem;
}

.mis-turnos-container h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.mis-turnos-container .filter-container {
  text-align: center;
  margin-bottom: 1rem;
}

.mis-turnos-container .filter-container input[type="text"] {
  width: 60%;
  padding: 0.5rem;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.mis-turnos-container table {
  width: 100%;
  border-collapse: collapse;
}

.mis-turnos-container table th,
.mis-turnos-container table td {
  border: 1px solid #ccc;
  padding: 0.5rem;
  text-align: center;
}

.mis-turnos-container table th {
  background-color: #f2f2f2;
}

.mis-turnos-container table button {
  margin: 0.2rem;
  padding: 0.3rem 0.6rem;
  font-size: 0.8rem;
  cursor: pointer;
}

.mis-turnos-container p {
  text-align: center;
  margin-top: 1rem;
  color: #666;
}

.filter-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.no-data {
  text-align: center;
  margin-top: 1rem;
  color: #666;
}
*/


/* *************************** */

/* .mis-turnos-container {
    width: 80%;
    margin: 1rem auto;
    padding: 1rem;
  
    h2 {
      text-align: center;
      margin-bottom: 1rem;
    }
  
    .filter-container {
      text-align: center;
      margin-bottom: 1rem;
  
      input[type="text"] {
        width: 60%;
        padding: 0.5rem;
        border: 1px solid #aaa;
        border-radius: 4px;
       } 
    }
  
    table {
      width: 100%;
      border-collapse: collapse;
  
      th, td {
        border: 1px solid #ccc;
        padding: 0.5rem;
        text-align: center;
      }
  
      th {
        background-color: #f2f2f2;
      }
  
      button {
        margin: 0.2rem;
        padding: 0.3rem 0.6rem;
        font-size: 0.8rem;
        cursor: pointer;
      }
    }
  
    p {
      text-align: center;
      margin-top: 1rem;
      color: #666;
    }
  }
   */